.PlaylistReviewSubflow-2col {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.PlaylistReviewSubflow-meta {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.PlaylistReviewSubflow a.Button {
  margin-top: 2rem;
  background-color: #098836;
  text-shadow: none;
  border-width: 0;
}

.PlaylistReviewSubflow-meta h2 {
  max-width: 19rem;
}

.PlaylistReviewSubflow-meta h2 button {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.PlaylistReviewSubflow-meta h2 input {
  width: 16rem;
  appearance: none;
  border: 0;
  padding: 2px 8px;
  border-radius: 4px;
}

.PlaylistReviewSubflow-meta p {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.PlaylistReviewSubflow-meta a.Button:hover {
  background-color: #149842;
}

.PlaylistReviewSubflow-meta .Button {
  margin-top: 1.5rem;
}

.PlaylistReviewSubflow .PlaylistReviewSubflow-playlist {
  flex-grow: 1;
  flex-basis: 0;
}

.PlaylistReviewSubflow .PlaylistReviewSubflow-playlist .Card {
  max-width: 100%;
  width: 26rem;
  display: flex;
  flex-direction: column;
}

.PlaylistReviewSubflow .PlaylistReviewSubflow-playlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.PlaylistReviewSubflow .PlaylistReviewSubflow-playlist li:not(:last-of-type) {
  margin-bottom: 1rem;
}