.-giant-input-card {
  font-size: 3rem;
  color: #FF7F37;
}

.-giant-input-card label:not(:last-child) {
  margin-right: 1rem;
}

.-giant-input-card input {
  margin: 1rem 0;
  font-size: 4rem;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 2px solid #FF7F37;
  background: none;
  font-family: inherit;
  color: inherit;
  border-radius: 0.1px;
  text-align: right;
}

.-giant-input-card input {
  background: none;
  font-family: inherit;
  border-bottom: 2px solid #FF7F37;
}