.IntensityCard {
  border-radius: 10px;
}

.IntensityCard .Card {
  width: 20rem;
  height: 12rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.IntensityCard-tiny .Card {
  width: 15rem;
  height: 8rem;
}

.IntensityCard-large .Card {
  width: 34rem;
  height: 24rem;
}

.IntensityCard-selected {
  box-shadow: 0 0 0 4px #FF7F37;
}